@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family:sans-serif, "roboto";
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}

.first-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}



.header{
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
 
}
.logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
    margin-left: 200px;


}

ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    gap: 25px;
    font-size: 18px;
    color: #E5E7EB;
    margin-right: 200px;
    
}


.second-container{
    display: flex;
    justify-content: center;
    margin: 0px;
    background-color: #1f2937;
    gap:10px;
    
}

.header-text{
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;

}

.text-1{
    width:450px;
    margin-bottom: 0px;
}

#top-para{
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0px;   
}

img{
    width: 480px;
    height:260px ;
}

p h1{
    width: 200px;
}

.top-button{
    background-color: #3882f6;
    color: #E5E7EB;
    font-weight: bold;
    border:none;
    border-radius:5px;
    padding: 5px 10px;
    width: 110px;
    height: 35px;
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 150px;
}

.second-heading{
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-top: 50px;
}

.box{
    width: 150px; 
    height: 150px;
    background-color: white; 
    border: 2px solid #3882f6;
    border-radius: 13px; 
    border-width: 4px;
    

}

.box-container{
    text-align: center;
}

.illustration{
    width: 150px;
    color:#494949;
    margin-top: 10px;
}
.boxes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.quote-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
}

.quote{
    font-size: 36px;
    color: #1f2937;
    width: 820px;
    margin-bottom: 0px;
    margin-top: 150px;
    font-style: italic;
    font-weight: 100;
}
.Author{
    font-size: 24px;
    font-weight: bolder;
    margin-top: 10px;
    align-self: flex-end;
    margin-right: 300px;
    margin-bottom: 100px;
}

.fourth-container{
    display: flex;
    justify-content: center;
}

.contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 150px;
    background-color: #3882f6;
    border: 2px solid #3882f6;
    border-radius: 13px; 
    border-width: 4px;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 30px;
}

.call-top{
    font-size: 30px;
    font-weight: 900;
    color: #f9faf8;
    margin-right: 260px;
}
.call-bottom{
    font-size: 15px;
    font-weight: 100;
}

.bottom-button{
    background-color: #3882f6;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid white;
    border-radius:5px;
    padding: 5px 10px;
    width: 130px;
    height: 35px;

}




.footer{
   background-color: #1f2937;
   color: white; 
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 40px 100px;
  

}


